<div class="columns-2">
    <div class="block m-auto w-1/2 h-96 bg-white border-2 p-3">
        <h4 class="font-bold pb-2">Things to keep in mind </h4>
        <ul>
            <li>
                <div class="flex">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3">

                    </div>
                    <div class="block ">
                        <h6 class="">Package Weight </h6>
                        <small class="text-xs">We only deliver packages upto 10kgs</small>
                    </div>
                </div>
            </li>
            <li>

                <div class="flex">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3">

                    </div>
                    <div class="block ">
                        <h6>Packaging </h6>
                        <small class="text-xs">We do not provide packaging service. Please keep the
                            items packed for our Delivery executive to pickup</small>
                    </div>
                </div>


            </li>

            <li>

                <div class="flex">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3">

                    </div>
                    <div class="block ">
                        <h6> Ristricted/Iilegal item </h6>
                        <small class="text-xs">Please ensure you are not sending any restricted/illegal item</small>
                    </div>
                </div>

            </li>
            <li>
                <div class="flex">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3">

                    </div>
                    <div class="block ">
                        <h6>Multiple packages</h6>
                        <small class="text-xs">We only allow one box/package/parcel per order</small>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="block m-auto w-1/2 h-96 bg-red-300">

    </div>
</div>