.hero-section {
    display: block;
    background-image: url("/assets/hero_bg.png");
    background-repeat: no-repeat;
    background-color: antiquewhite;
}

.icon-2x {
    transform: scale(2);
}

.icon-3x {
    transform: scale(3);
}