.example-spacer {
    flex: 1 1 auto;
}


.navbar__menu-items span {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar__loginBtn {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar__signUpBtn {
    margin-left: 5px;
    margin-right: 5px;
}

.hero-section {
    display: block;
    height: 400px;
    background-image: url("/assets/hero_bg.png");
    background-repeat: no-repeat;
    background-color: antiquewhite;
}