<mat-toolbar class="navbar">
    <span>Goexpresso</span>
    <span class="example-spacer"></span>
    <div class="navbar__menu-items">
        <span>Service</span>
        <span>Earnings</span>
        <span>About us</span>
    </div>
    <button mat-stroked-button class="navbar__loginBtn">Log In</button>
    <a lass="navbar__signUpBtn" mat-flat-button href="https://www.google.com/" target="_blank">Sign Up</a>
</mat-toolbar>

<div class="hero-section px-3 mx-3 mt-3 rounded-xl">
    <div class="flex justify-around" style="align-items: center;">
        <div class="max-w-96">
            <h2 class="text-32xl font-bold text-white">Travel Anywhere</h2>
            <h2 class="text-32xl font-bold text-white">Earn Everywhere</h2>
            <p class="text-white">GOEXPRESSO is more than a parcel delivery
                service; it's a platform for opportunity. Our
                unique delivery partner program lets anyone
                earn money while they travel, ensuring fast,
                reliable, and efficient delivery across cities</p>
        </div>
        <div class="bg-white rounded-lg p-3 w-96 mt-4">
            <h2 class="text-3xl font-bold"><span class="text-red-600">Ship</span> Your Parcel</h2>
            <div class="flex border-2 border-red-600 rounded-md p-2 my-2">
                <button class="mx-2 bg-red-700 px-4 py-2 text-white rounded-md w-1/2">Book Now</button>
                <button class="mx-2 bg-red-700 px-4 py-2 text-white rounded-md w-1/2">Earn Now</button>
            </div>
            <div class="border-2 rounded-md border-red-600 p-2 my-2">
                <input class="w-full" type="text" placeholder="Enter Pickup Pincode">
            </div>
            <div class="border-2 rounded-md border-red-600 p-2 my-2">
                <input class="w-full" type="text" placeholder="Enter Pickup Pincode">
            </div>
            <button class="bg-red-700 w-full py-2 rounded text-white font-bold">Book Now</button>
        </div>
    </div>
</div>
<div class="my-4"></div>
<div class="p-4 flex justify-center">
    <div class="block w-1/2 mr-4">

        <h2 class="text-13xl text-red-700">Make Every Journey Count with</h2>
        <h2 class="text-13xl font-bold text-red-700">GOEXPRESSO</h2>

        <p class="my-2 text-justify">Say goodbye to long waits and missed opportunities!
            <span class="text-red-600"> GOEXPRESSO’s</span> innovative peer-to-peer delivery service
            ensures your errands are handled with speed and ease.
            With <span class="text-red-600">GOEXPRESSO</span>, you can have your parcels delivered in
            just 1-2 days, while everyday travelers earn by helping along
            their routes. Simplify your life and make every journey more
            rewarding with <span class="text-red-600">GOEXPRESSO!</span>
        </p>
        <div class="flex">
            <button class="bg-red-700 py-2 px-2 rounded-md mx-2 text-white">Start Earning Now</button>
            <button class="bg-red-700 py-2 px-2 rounded-md mx-2 text-white">Book Delivery Now</button>
        </div>
    </div>
    <div class="block w-full max-w-96">
        <img class="w-full h-full rounded-31xl" src="/assets/img1.JPG" alt="">
    </div>
</div>
<div class="my-4"></div>
<div class="block w-4/5 m-auto bg-pink-100 rounded-3xl p-4">
    <h2 class="text-13xl font-bold text-center my-3 tracking-widest">Our Services</h2>
    <p class="block w-2/3 m-auto">At <span class="text-red-600">GOEXPRESSO,</span> we provide fast, reliable, and
        innovative courier solutions tailored to meet your needs. Explore
        our range of services</p>
    <div class="my-6"></div>
    <div class="grid grid-cols-3 gap-3">
        <div class="bg-white rounded-3xl p-4">
            <h3 class="text-3xl text-red-700 font-bold text-center my-3 tracking-wider">Secure Handling</h3>
            <p class="text-xs text-center">
                Heading to another city? Take a parcel with you!
                Choose packages that fit your luggage, carry
                them along, and get paid.
            </p>
            <img class="w-full my-4" src=".\assets\services_img_1.JPG" alt="">
            <button class="bg-red-700 rounded-lg p-3 text-white block m-auto">Secure Handling</button>
        </div>
        <div class="bg-white rounded-3xl p-4">
            <h3 class="text-3xl text-red-700 font-bold text-center my-3 tracking-wider">Simple & Flexible</h3>
            <p class="text-xs text-center">
                No complex processes, no hassle. Select the
                parcels that suit your trip, and enjoy seamless
                earnings while you’re on the move.
            </p>
            <img class="w-full my-4" src=".\assets\services_img_2.JPG" alt="">
            <button class="bg-red-700 rounded-lg p-3 text-white block m-auto">Fast Delivery</button>
        </div>
        <div class="bg-white rounded-3xl p-4">
            <h3 class="text-3xl text-red-700 font-bold text-center my-3 tracking-wider">Secure Handling</h3>
            <p class="text-xs text-center">
                Get your packages delivered quickly and efficiently with our express service
            </p>
            <img class="w-full my-4" src=".\assets\services_img_3.JPG" alt="">
            <button class="bg-red-700 rounded-lg p-3 text-white block m-auto">Secure Handling</button>
        </div>
    </div>
</div>
 