<section class="p-2">
    <div class="container mx-auto hero-section py-5  rounded-xl">
        <div class="grid grid-cols-3 max-sm:grid-cols-1 gap-5 p-4" style="align-items: center;">
            <div class="col-span-2 block container mx-auto w-full">
                <h2 class="max-sm:text-3xl text-5xl font-bold text-white">Travel Anywhere</h2>
                <h2 class="max-sm:text-3xl text-5xl font-bold text-white">Earn Everywhere</h2>
                <p class="text-white mt-4"><b>GOEXPRESSO</b> is more than a parcel delivery
                    service; it's a platform for opportunity. Our
                    unique delivery partner program lets anyone
                    earn money while they travel, ensuring fast,
                    reliable, and efficient delivery across cities</p>
            </div>
            <div class="block container mx-auto bg-white rounded-lg p-3 w-full  mt-4">
                <h2 class="text-2xl font-bold"><span class="text-red-600">Ship</span> Your Parcel</h2>
                <div class="flex border-2 border-red-600 rounded-md p-2 my-2">
                    <button class="mx-2 bg-red-700 px-2 text-sm py-2 text-white rounded-md w-full">Book Now</button>
                    <button class="mx-2 bg-red-700 px-2 text-sm py-2 text-white rounded-md w-full">Earn Now</button>
                </div>
                <input class="w-full border-2 rounded-md border-red-600 p-2 my-2" type="text"
                    placeholder="Enter Pickup Pincode">
                <input class="w-full border-2 rounded-md border-red-600 p-2 my-2" type="text"
                    placeholder="Enter Drop Pincode">
                <button class="bg-red-700 w-full py-2 rounded text-white font-bold text-sm">Book Now</button>
            </div>
        </div>
    </div>

</section>
<div class="my-4"></div>
<section class="p-4">
    <div class="grid grid-cols-5 max-sm:grid-cols-1 gap-5  px-3">
        <div class="col-span-3 flex flex-col justify-around mx-auto w-full p-5 max-sm:p-0">
            <div>
                <h2 class="text-3xl text-red-700">Make Every Journey Count with</h2>
                <h2 class="text-3xl font-bold text-red-700 my-1">GOEXPRESSO</h2>
            </div>
            <p class="my-2 text-justify leading-2">Say goodbye to long waits and missed opportunities!
                <span class="text-red-600"> GOEXPRESSO’s</span> innovative peer-to-peer delivery service
                ensures your errands are handled with speed and ease.
                With <span class="text-red-600">GOEXPRESSO</span>, you can have your parcels delivered in
                just 1-2 days, while everyday travelers earn by helping along
                their routes. Simplify your life and make every journey more
                rewarding with <span class="text-red-600">GOEXPRESSO!</span>
            </p>
            <div class="grid max-sm:grid-cols-1 grid-cols-2 gap-4  my-4">
                <button class="bg-red-700 py-2 px-2 rounded-md mx-2 text-white">Start Earning Now</button>
                <button class="bg-red-700 py-2 px-2 rounded-md mx-2 text-white">Book Delivery Now</button>
            </div>
        </div>
        <div class="col-span-2  block bg-gray-50 mx-auto w-full ">
            <img class="w-full h-full rounded-31xl rounded-3xl" src="/assets/img1.JPG" alt="">
        </div>
    </div>
</section>
<div class="my-4"></div>
<section class="p-4">
    <div class="block m-auto bg-pink-100 rounded-3xl p-4">
        <h2 class="text-4xl font-bold text-center my-3 tracking-widest">Our Services</h2>
        <p class="block w-2/3 m-auto">At <span class="text-red-600">GOEXPRESSO,</span> we provide fast, reliable, and
            innovative courier solutions tailored to meet your needs. Explore
            our range of services</p>
        <div class="my-6"></div>
        <div class="grid max-sm:grid-cols-1 grid-cols-3 gap-3">
            <div *ngFor="let serviceDetail of listOfServices"
                class="flex flex-col justify-between items-center bg-white rounded-3xl p-4">
                <div class="block">
                    <h3 class="text-2xl text-red-700 font-bold text-center my-3 tracking-wider">{{serviceDetail.title}}
                    </h3>
                    <p class="text-xs text-center">{{serviceDetail.subtitle}}</p>
                </div>
                <div class="block">
                    <img class="w-full my-4" src="{{serviceDetail.imgSrc}}" alt="">
                </div>
                <div class="block w-full">
                    <button
                        class="bg-red-700 rounded-lg p-2 text-white block m-auto w-full max-w-52 min-w-fit">{{serviceDetail.buttonText}}</button>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="block p-4 m-auto">
    <div class="grid max-md:grid-cols-1 grid-cols-2 gap-4 my-4 items-stretch">
        <div class="flex flex-col justify-between p-2">
            <div *ngFor="let seviceDetail of listOfServices"
                class="flex justify-start items-center bg-pink-100 my-4 p-4 rounded-xl">
                <div class="block mx-5">
                    <mat-icon class="scale-200 text-red-700" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="schedule"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-2xl font-bold text-red-700">{{seviceDetail.title}}</h3>
                    <p class="text-sm">{{seviceDetail.subtitle}}</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-between p-2">
            <h3 class="text-3xl">Lightning <span class="font-bold text-red-700">Fast Delivery Service</span></h3>
            <div class="flex flex-col justify-between ">
                <div class="block my-4">
                    <p class="text-xl">
                        Looking for a parcel service that's as fast as a train? You've found
                        it! We specialize in 1-2 day deliveries across cities, ensuring your
                        packages reach their destination at lightning speed.
                    </p>
                </div>
                <div class="block my-4">
                    <p class="text-xl">
                        But that's not all – we're not just about delivering parcels we're
                        about delivering opportunities! With our unique delivery partner program, anyone can earn money
                        while
                        they travel.
                    </p>
                </div>
                <div class="block my-4">
                    <p class="text-xl">
                        No matter the size, type, or urgency of your package, we're here
                        to make it happen. Join us today and experience a new era of
                        fast, flexible parcel services!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class=" py-16 md:py-22 ">
    <div class=" mx-auto px-4">
        <div class="grid md:grid-cols-2  items-center">
            <div class="relative" style="opacity: 1; transform: none;"><img alt="GOEXPRESSO Mobile App" width="100"
                    height="100" decoding="async" data-nimg="1" class="w-full h-auto mt-7" style="color:transparent"
                    src="/assets/home_footer_banner1.png"></div>
            <div class="space-y-6 bg-[#FAE9EB] md:rounded-none rounded-xl h-auto md:h-[385px] w-full flex justify-center items-start flex-col px-4 py-8 md:py-0"
                style="opacity: 1; transform: none;">
                <div class="space-y-2 max-w-[500px]">
                    <p class="text-xl md:text-2xl font-semibold">Coming Soon...</p>
                    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#E31E24]">GOEXPRESSO APP</h2>
                    <p class="text-xl md:text-2xl">Travel Anywhere, Earn Everywhere</p>
                </div>
                <div class="flex flex-wrap gap-4 pt-4"><a href="#" class="transition-opacity hover:opacity-80"
                        target="_blank" rel="noopener noreferrer"><img alt="Get it on Google Play" loading="lazy"
                            width="180" height="53" decoding="async" data-nimg="1" class="h-[53px] w-auto"
                            style="color:transparent" src="assets/appicon.png"></a></div>
            </div>
        </div>
    </div>
</section>



<section id="explore" class="block bg-[#E31E24]">
    <div class="grid max-md:grid-cols-1 grid-cols-2 gap-4 my-4">
        <div class="flex flex-col justify-between p-2">
            <div class="flex justify-start items-center my-1 p-2 rounded-xl">
                <div class="block  bg-[#EC4147] mx-5 p-5 rounded-md">
                    <mat-icon class="scale-200 text-white" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="local_shipping"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-xl font-bold text-white">Speed</h3>
                    <p class="text-slate-100 tracking-widest">Our services are as fast as a train, ensuring
                        time-sensitive deliveries.</p>
                </div>

            </div>
            <div class="flex justify-start items-center my-1 p-2 rounded-xl">
                <div class="block  bg-[#EC4147]  mx-5 p-5 rounded-md">
                    <mat-icon class="scale-200 text-white" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="currency_rupee"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-xl font-bold text-white">Earnings on the Go</h3>
                    <p class="text-slate-100 tracking-widest">Turn your trips into income by becoming a
                        delivery partner.</p>
                </div>

            </div>
            <div class="flex justify-start items-center my-1 p-2 rounded-xl">
                <div class="block  bg-[#EC4147] mx-5 p-5 rounded-md">
                    <mat-icon class="scale-200 text-white" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="schedule"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-xl font-bold text-white">Convenience</h3>
                    <p class="text-slate-100 tracking-widest">Carry parcels that suit you – small, large, or
                        anything in between.</p>
                </div>

            </div>
        </div>
        <div class="flex flex-col justify-center p-2">
            <div class="block bg-[#EC4147] w-full max-w-xl p-4 rounded-lg">
                <h3 class="text-2xl text-white font-semibold tracking-wider">Ready to Get Started?</h3>
                <p class="text-slate-100 text-sm my-3">Join our network of delivery partners and start
                    earning while you travel. Sign up today and be part
                    of the future of delivery services</p>
                <div class="flex">
                    <button class="bg-white px-4 py-2 rounded-lg w-full m-2">Become a Partner</button>
                    <button class="bg-red-700 text-white px-4 py-2 rounded-lg w-full m-2">Learn More</button>
                </div>
            </div>
            <div class="">

            </div>
        </div>
    </div>
</section>


