<section class="p-4">
    <div class="container mx-auto hero-section px-3 py-10 mt-3 rounded-xl">
        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-4 " style="align-items: center;">
            <div class="block container mx-auto w-full max-w-sm">
                <h2 class="text-32xl font-bold text-white  font-poppins">Travel Anywhere</h2>
                <h2 class="text-32xl font-bold text-white">Earn Everywhere</h2>
                <p class="text-white">GOEXPRESSO is more than a parcel delivery
                    service; it's a platform for opportunity. Our
                    unique delivery partner program lets anyone
                    earn money while they travel, ensuring fast,
                    reliable, and efficient delivery across cities</p>
            </div>
            <div class="block container mx-auto bg-white rounded-lg p-3 w-full max-w-sm mt-4">
                <h2 class="text-3xl font-bold"><span class="text-red-600">Ship</span> Your Parcel</h2>
                <div class="flex border-2 border-red-600 rounded-md p-2 my-2">
                    <button class="mx-2 bg-red-700 px-4 py-2 text-white rounded-md w-1/2">Book Now</button>
                    <button class="mx-2 bg-red-700 px-4 py-2 text-white rounded-md w-1/2">Earn Now</button>
                </div>
                <input class="w-full border-2 rounded-md border-red-600 p-2 my-2" type="text"
                    placeholder="Enter Pickup Pincode">
                <input class="w-full border-2 rounded-md border-red-600 p-2 my-2" type="text"
                    placeholder="Enter Drop Pincode">
                <button class="bg-red-700 w-full py-2 rounded text-white font-bold">Book Now</button>
            </div>
        </div>
    </div>

</section>
<div class="my-4"></div>
<section class="p-4">
    <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-4  px-3">
        <div class="block mx-auto w-full">
            <h2 class="text-13xl text-red-700">Make Every Journey Count with</h2>
            <h2 class="text-13xl font-bold text-red-700">GOEXPRESSO</h2>
            <p class="my-2 text-justify">Say goodbye to long waits and missed opportunities!
                <span class="text-red-600"> GOEXPRESSO’s</span> innovative peer-to-peer delivery service
                ensures your errands are handled with speed and ease.
                With <span class="text-red-600">GOEXPRESSO</span>, you can have your parcels delivered in
                just 1-2 days, while everyday travelers earn by helping along
                their routes. Simplify your life and make every journey more
                rewarding with <span class="text-red-600">GOEXPRESSO!</span>
            </p>
            <div class="grid max-sm:grid-cols-1 grid-cols-2 gap-4  my-4">
                <button class="bg-red-700 py-2 px-2 rounded-md mx-2 text-white">Start Earning Now</button>
                <button class="bg-red-700 py-2 px-2 rounded-md mx-2 text-white">Book Delivery Now</button>
            </div>
        </div>
        <div class="block bg-gray-50 mx-auto w-full max-w-sm">
            <img class="w-full h-full rounded-31xl" src="/assets/img1.JPG" alt="">
        </div>
    </div>
</section>
<div class="my-4"></div>
<section class="p-4">
    <div class="block m-auto bg-pink-100 rounded-3xl p-4">
        <h2 class="text-13xl font-bold text-center my-3 tracking-widest">Our Services</h2>
        <p class="block w-2/3 m-auto">At <span class="text-red-600">GOEXPRESSO,</span> we provide fast, reliable, and
            innovative courier solutions tailored to meet your needs. Explore
            our range of services</p>
        <div class="my-6"></div>
        <div class="grid max-sm:grid-cols-1 grid-cols-3 gap-3">
            <div class="bg-white rounded-3xl p-4">
                <h3 class="text-3xl text-red-700 font-bold text-center my-3 tracking-wider">Secure Handling</h3>
                <p class="text-xs text-center">
                    Heading to another city? Take a parcel with you!
                    Choose packages that fit your luggage, carry
                    them along, and get paid.
                </p>
                <img class="w-full my-4" src=".\assets\services_img_1.JPG" alt="">
                <button class="bg-red-700 rounded-lg p-3 text-white block m-auto">Secure Handling</button>
            </div>
            <div class="bg-white rounded-3xl p-4">
                <h3 class="text-3xl text-red-700 font-bold text-center my-3 tracking-wider">Simple & Flexible</h3>
                <p class="text-xs text-center">
                    No complex processes, no hassle. Select the
                    parcels that suit your trip, and enjoy seamless
                    earnings while you’re on the move.
                </p>
                <img class="w-full my-4" src=".\assets\services_img_2.JPG" alt="">
                <button class="bg-red-700 rounded-lg p-3 text-white block m-auto">Track</button>
            </div>
            <div class="bg-white rounded-3xl p-4">
                <h3 class="text-3xl text-red-700 font-bold text-center my-3 tracking-wider">Fast Delivery</h3>
                <p class="text-xs text-center">
                    Get your packages delivered quickly and efficiently with our express service
                </p>
                <img class="w-full my-4" src=".\assets\services_img_3.JPG" alt="">
                <button class="bg-red-700 rounded-lg p-3 text-white block m-auto">Secure Handling</button>
            </div>
        </div>
    </div>

</section>
<section class="block p-4 m-auto">
    <div class="grid max-md:grid-cols-1 grid-cols-2 gap-4 my-4">
        <div class="flex flex-col justify-between p-2">
            <div class="flex justify-start items-center bg-pink-100 my-4 p-4 rounded-xl">
                <div class="block  mx-5">
                    <mat-icon class="icon-2x text-red-700" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="schedule"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-5xl font-bold text-red-700">Secure Handling</h3>
                    <p>Heading to another city? Take a parcel with you! Choose packages that fit your luggage, carry them along, and get paid.</p>
                </div>

            </div>
            <div class="flex justify-start items-center bg-pink-100 my-4 p-4 rounded-xl">
                <div class="block  mx-5">
                    <mat-icon class="icon-2x text-red-700" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="schedule"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-5xl font-bold text-red-700">Simple & Flexible</h3>
                    <p>No complex processes, no hassle. Select the parcels that suit your trip, and enjoy seamless earnings while you're on the move.</p>
                </div>

            </div>
            <div class="flex justify-start items-center bg-pink-100 my-4 p-4 rounded-xl">
                <div class="block  mx-5">
                    <mat-icon class="icon-2x text-red-700" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="schedule"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-5xl font-bold text-red-700">Fast Delivery</h3>
                    <p>Get your packages delivered quickly and efficiently with our express service.</p>
                </div>

            </div>
        </div>
        <div class="block p-2 ">
            <h3 class="text-21xl">Lightning <span class="font-bold text-red-700">Fast Delivery Service</span></h3>
            <div class="block my-4">
                <p class="text-xl">
                    Looking for a parcel service that's as fast as a train? You've found
                    it! We specialize in 1-2 day deliveries across cities, ensuring your
                    packages reach their destination at lightning speed.
                </p>
            </div>
            <div class="block my-4">
                <p class="text-xl">
                    But that's not all – we're not just about delivering parcels we're
                    about delivering opportunities! With our unique delivery partner program, anyone can earn money
                    while
                    they travel.
                </p>
            </div>
            <div class="block my-4">
                <p class="text-xl">
                    No matter the size, type, or urgency of your package, we're here
                    to make it happen. Join us today and experience a new era of
                    fast, flexible parcel services!
                </p>
            </div>
        </div>
    </div>
</section>
<section class=" py-16 md:py-22 ">
    <div class=" mx-auto px-4">
        <div class="grid md:grid-cols-2  items-center">
            <div class="relative" style="opacity: 1; transform: none;"><img alt="GOEXPRESSO Mobile App" width="100"
                    height="100" decoding="async" data-nimg="1" class="w-full h-auto mt-7" style="color:transparent"
                    src="/assets/home_footer_banner1.png"></div>
            <div class="space-y-6 bg-[#FAE9EB] md:rounded-none rounded-xl h-auto md:h-[385px] w-full flex justify-center items-start flex-col px-4 py-8 md:py-0"
                style="opacity: 1; transform: none;">
                <div class="space-y-2 max-w-[500px]">
                    <p class="text-xl md:text-2xl font-semibold">Coming Soon...</p>
                    <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-[#E31E24]">GOEXPRESSO APP</h2>
                    <p class="text-xl md:text-2xl">Travel Anywhere, Earn Everywhere</p>
                </div>
                <div class="flex flex-wrap gap-4 pt-4"><a href="#" class="transition-opacity hover:opacity-80"
                        target="_blank" rel="noopener noreferrer"><img alt="Get it on Google Play" loading="lazy"
                            width="180" height="53" decoding="async" data-nimg="1" class="h-[53px] w-auto"
                            style="color:transparent" src="assets/appicon.png"></a></div>
            </div>
        </div>
    </div>
</section>



<section id="explore" class="block bg-[#E31E24]">
    <div class="grid max-md:grid-cols-1 grid-cols-2 gap-4 my-4">
        <div class="flex flex-col justify-between p-2">
            <div class="flex justify-start items-center my-1 p-2 rounded-xl">
                <div class="block  bg-[#C91A1F] mx-5 p-5 rounded-md">
                    <mat-icon class="icon-2x text-white" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="currency_rupee"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-xl font-bold text-white">Speed</h3>
                    <p class="text-slate-100 tracking-widest">Our services are as fast as a train, ensuring
                        time-sensitive deliveries.</p>
                </div>

            </div>
            <div class="flex justify-start items-center my-1 p-2 rounded-xl">
                <div class="block  bg-[#E31E24] mx-5 p-5 rounded-md">
                    <mat-icon class="icon-2x text-white" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="local_shipping"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-xl font-bold text-white">Earnings on the Go</h3>
                    <p class="text-slate-100 tracking-widest">Turn your trips into income by becoming a
                        delivery partner.</p>
                </div>

            </div>
            <div class="flex justify-start items-center my-1 p-2 rounded-xl">
                <div class="block  bg-[#C91A1F] mx-5 p-5 rounded-md">
                    <mat-icon class="icon-2x text-white" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="schedule"></mat-icon>
                </div>
                <div class="block">
                    <h3 class="text-xl font-bold text-white">Convenience</h3>
                    <p class="text-slate-100 tracking-widest">Carry parcels that suit you – small, large, or
                        anything in between.</p>
                </div>

            </div>
        </div>
        <div class="flex flex-col justify-center p-2">
            <div class="block bg-[#EC4147] w-full max-w-xl p-4 rounded-lg">
                <h3 class="text-5xl text-white font-semibold tracking-wider">Ready to Get Started?</h3>
                <p class="text-slate-100 font-thin text-base my-3">Join our network of delivery partners and start
                    earning while you travel. Sign up today and be part
                    of the future of delivery services</p>
                <div class="flex">
                    <button class="bg-white px-4 py-2 rounded-lg w-full m-2">Become a Partner</button>
                    <button class="bg-red-700 text-white px-4 py-2 rounded-lg w-full m-2">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block my-4 py-8">
    <h6 class="text-center">© <span class="text-5xl">2024 GOEXPRESSO</span>. <span class="text-3xl font-light">All
            rights reserved</span>.</h6>
</section>