<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-2">
    <div class="block p-7">
      <div class="block m-auto w-1/2 p-5 bg-white border-2 p-3 rounded-md">
        <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
            <div class="block ">
              <h6 class="font-bold">Order Summary</h6>
            </div>
            <div class="flex justify-end items-center">
              <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
            </div>
          </div>
        <h3 class="text-3xl my-3">Address Details</h3>
        <div class="text-red-700 px-4 text-2xl">
          <h4>Pickup Address</h4>
          <div class="my-3"></div>
          <h4>Delivery Address</h4>
        </div>
        <hr>
        <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
            <div class="block ">
              <h6 class="font-bold">Package details</h6>
            </div>
            <div class="flex justify-end items-center">
              <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
            </div>
          </div>
        <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
            <div class="block ">
                <mat-icon class="icon-2x text-red-700 mx-2" aria-hidden="false" aria-label="Example home icon"
                fontIcon="view_in_ar"></mat-icon>
            </div>
            <h6 class="text-xs text-nowrap">Box / Carton</h6>
            <div class="flex justify-end items-center">
              <button class=" px-5 py-2 text-nowrap rounded-md mx-2">0.5 Kg - 2 Kg</button>
            </div>
          </div>
  
      </div>
  
    </div>
    <div class="block bg-gray-50">
      <h4>Package Details</h4>
      <hr class="py-1 bg-white">
      <div class="p-2">
        <div class="flex bg-white rounded-md justify-between p-2 items-center">
          <div class="block ">
            <h6>Select Packaging</h6>
          </div>
          <div class="flex justify-end items-center">
            <mat-icon class="icon-2x text-red-700 mx-2" aria-hidden="false" aria-label="Example home icon"
            fontIcon="view_in_ar"></mat-icon>
            <span class="text-xs">Box / Carton</span>
            <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
          </div>
        </div>
        <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
          <div class="block ">
            <h6>Choose Parcel Weight</h6>
          </div>
          <div class="flex justify-end items-center">
            <mat-icon class="icon-2x text-red-700 mx-2" aria-hidden="false" aria-label="Example home icon"
            fontIcon="attach_money"></mat-icon>
            <span class="text-xs">0.5 Kg - 2 Kg E</span>
            <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
          </div>
        </div>
        <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
          <div class="block ">
            <h6>Choose Package Content</h6>
          </div>
          <div class="flex justify-end items-center">
            <span class="text-xs">Clothes & Personal Items</span>
            <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
          </div>
        </div>
        <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
          <div class="block ">
            <h6>Delhivery Protect</h6>
          </div>
          <div class="flex justify-end items-center">
            <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>