<h1 class="mb-5 font-bold">Notification</h1>
<div class="container block max-w-sm mx-auto min-h-full">
    <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-2 py-4 border-2 bg-gray-100">
        <div class="block m-auto w-full max-w-sm bg-white border-2 p-2 rounded-md">
            Wallet
        </div>
        <div class="block  bg-gray-100 p-2  border-2 rounded-md mx-4 demo-section" matBadge="4" matBadgeOverlap="false">
            Messages
        </div>
    </div>
    <h1 class="mb-4">Yesterday</h1>
    <mat-card appearance="outlined">
        <mat-card-content>
            <h1 class="font-bold">Order Earnings Received</h1>
            <p>Balance Update : 47.64 added to wallet for 1.23pm order</p>
            <p class="float-end">Yesterday, 1:55pm</p>
        </mat-card-content>
    </mat-card>
</div>