<!-- <div class="columns-2">
    <div class="block m-auto w-1/2  bg-white border-2 p-3 rounded-md">
        

  
    </div>
    
</div> -->

<div class="grid gap-5 md:grid-cols-2 lg:grid-cols-2 py-4">
  <div class="block m-auto w-full max-w-sm bg-white border-2 p-2 rounded-md">
    <h4 class="text-5xl font-semibold">Order Summary </h4>
    <h3 class="text-5xl my-3">Address Details</h3>
    <div class="text-red-700 px-4 text-3xl">
      <h4>Pickup Address</h4>
      <div class="my-3"></div>
      <h4>Delivery Address</h4>
    </div>
    <h3 class="text-5xl my-3">Package details</h3>

  </div>
  <div class="block bg-gray-50 p-2  border-2 rounded-md">
    <h4 class="text-5xl font-semibold py-2">Package Details</h4>
    <hr class="py-1 bg-white">
    <div class="p-2">
      <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
        <div class="block ">
          <h6>Select Packaging</h6>
        </div>
        <div class="flex max-sm:flex-col justify-end items-center">
          <mat-icon class="icon-2x text-red-700 mx-2" aria-hidden="false" aria-label="Example home icon"
            fontIcon="view_in_ar"></mat-icon>
          <span class="text-xs my-2">Box / Carton</span>
          <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2 my-2">Edit</button>
        </div>
      </div>
      <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
        <div class="block ">
          <h6>Choose Parcel Weight</h6>
        </div>
        <div class="flex  max-sm:flex-col justify-end items-center">
          <mat-icon class="icon-2x text-red-700 mx-2" aria-hidden="false" aria-label="Example home icon"
            fontIcon="attach_money"></mat-icon>
          <span class="text-xs my-2">0.5 Kg - 2 Kg E</span>
          <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
        </div>
      </div>
      <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
        <div class="block ">
          <h6>Choose Package Content</h6>
        </div>
        <div class="flex justify-end items-center max-sm:flex-col  max-sm:items-end">
          <span class="text-xs">Clothes & Personal Items</span>
          <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2 mt-2">Edit</button>
        </div>
      </div>
      <div class="flex bg-white rounded-md justify-between p-2 items-center my-2">
        <div class="block ">
          <h6>Delhivery Protect</h6>
        </div>
        <div class="flex justify-end items-center">
          <button class="bg-red-700 px-5 py-2 text-white rounded-md mx-2">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>