<mat-toolbar class="navbar">
    <!-- <span class="text-7xl font-bold text-red-700 tracking-wide">Goexpresso</span>  -->
    <div class="w-full max-w-52">
        <img class="w-full" src="/assets/logo.png" routerLink="" alt="">
    </div>
    <span class="example-spacer"></span>
    <div class="max-sm:hidden mx-2">
        <span class="text-xl mx-2">Service</span>
        <span class="text-xl mx-2">Earnings</span>
        <span class="text-xl mx-2">About us</span>
        <a routerLink="address-page" class="text-xl mx-2">Other</a>
        <a routerLink="parcel-page" class="text-xl mx-2">parcel</a>
    </div>
    <button mat-stroked-button class="navbar__loginBtn">Log In</button>
    <a lass="navbar__signUpBtn" mat-flat-button href="https://www.google.com/" target="_blank">Sign Up</a>
</mat-toolbar>