<mat-toolbar class="navbar">
    <!-- <span class="text-7xl font-bold text-red-700 tracking-wide">Goexpresso</span>  -->
    <div class="w-full max-w-52">
        <img class="w-full" src="/assets/logo.png" routerLink="" alt="">
    </div>
    <span class="example-spacer"></span>
    <div class="max-sm:hidden mx-2">
        <a routerLink="/"> <span class="text-xl mx-2">Home</span></a>
        <span class="text-xl mx-2">Service</span>
        <span class="text-xl mx-2">Earnings</span>
        <a routerLink="parcel-page"> <span class="text-xl mx-2">Other </span></a>
        <app-menu-main></app-menu-main>
    </div>
    <button (click)="navigateToLoginPage()" mat-stroked-button class="navbar__loginBtn">Log In</button>
    <a lass="navbar__signUpBtn" mat-flat-button routerLink="signup">Sign Up</a>
</mat-toolbar>