@switch (stepperOrientation | async) {
    @case ('horizontal') {
      
    }
    @case ('vertical') {
     
    }
  }
  
  <mat-stepper #stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step  [stepControl]="firstFormGroup" label="Address">
      <form [formGroup]="firstFormGroup">
      <app-address-page (notifyParent)="onChildFunctionCalled()" ></app-address-page>
        <div>
          <button (click)="onNextStep()" mat-button >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Package">
      <form [formGroup]="secondFormGroup">
      <app-package-details-page></app-package-details-page>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Schedule">
      <form [formGroup]="thirdFormGroup">
       <app-schedule-page></app-schedule-page>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
  