<form class="my-4">
    <div class="my-2">
        <label for="">How much space do you have available (Kgs)</label>
        <mat-form-field class="w-full mt-2">
            <mat-label>Weight</mat-label>
            <!-- <span matTextPrefix>+1 &nbsp;</span> -->
            <input type="number" matInput placeholder="Enter weight in kg">
            <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
        </mat-form-field>
    </div>
    <div class="my-2">
        <label for="">Maximum value of parcels that you can buy - Enter 0 if you are not sure</label>
        <div class="grid grid-cols-2 gap-5 mt-2">
            <mat-form-field class="">
                <!-- <mat-label>Telephone</mat-label> -->
                <!-- <span matTextPrefix>+1 &nbsp;</span> -->
                <input type="text" matInput placeholder="INR(&#8377;)">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
            <mat-form-field class="">
                <mat-label>Amount</mat-label>
                <!-- <span matTextPrefix>+1 &nbsp;</span> -->
                <input type="number" matInput placeholder="Please enter an Amount">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
    </div>

    <div class="my-2">
        <label for="">How much do you ewant to be paid?</label>
        <div class="grid grid-cols-2 gap-5 mt-2">
            <mat-form-field class="">
                <!-- <mat-label>Telephone</mat-label> -->
                <!-- <span matTextPrefix>+1 &nbsp;</span> -->
                <input type="text" matInput placeholder="INR(&#8377;)">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
            <mat-form-field class="">
                <mat-label>Amount</mat-label>
                <!-- <span matTextPrefix>+1 &nbsp;</span> -->
                <input type="number" matInput placeholder="Please enter an Amount">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
    </div>
    <button mat-flat-button>Continue</button>
</form>