<div class="container m-auto bg-[#C12935] p-4 min-h-full">
    <div class="py-4">
        <img class="m-auto" src="/assets/logo.svg" alt="">
    </div>

    <div class="block mx-auto bg-white rounded-xl w-full max-w-md p-5">
        <div class="my-2">
            <h6 class="font-semibold">Verify your number</h6>
            <span class="text-xs">We’ve send a verification code to your number {{mobileNumber}}</span>
        </div>
        <div class="block my-2">
            <!-- <input class="border p-2 w-full bg-gray-50" type="text" placeholder="Enter your  number"> -->
            <form class="w-full">
               <input class="w-full border-2 border-red-700 rounded-lg py-2 px-4" type="text" name="" id="" placeholder="Enter OTP">
            </form>
            <span class="text-xs">Haven’t received the OTP?</span>
           
            <div class="flex justify-center items-center my-2">
                <button (click)="onClickVerifyOpt()" class=""  mat-flat-button>Verify</button>
            </div>
        </div>
    </div>
</div>