<div class="container mx-auto">
    <div class="grid grid-cols-1 max-sm:gap-4 gap-10 my-4 p-2">
        <div class="flex flex-col justify-between bg-white border p-3 rounded-md">
            <h4 class="font-bold pb-2 my-2">Things to keep in mind </h4>
            <div class="flex">
                <div class="block">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3 p-2">
                        <mat-icon class="cursor-pointer text-slate-50 scale-110" fontIcon="monitor_weight"></mat-icon>
                    </div>
                </div>
                <div class="block">
                    <h6 class="">Package Weight </h6>
                    <small class="text-xs">We only deliver packages upto 10kgs</small>
                </div>
            </div>
            <div class="flex">
                <div class="block">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3 p-2">
                        <mat-icon class="cursor-pointer text-slate-50 scale-110" fontIcon="local_post_office"></mat-icon>
                    </div>
                </div>
                <div class="block">
                    <h6 class="">Packaging</h6>
                    <small class="text-xs">We do not provide packaging service. Please keep the
                        items packed for our Delivery executive to pickup</small>
                </div>
            </div>
            <div class="flex">
                <div class="block">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3 p-2">
                        <mat-icon class="cursor-pointer text-slate-50 scale-110" fontIcon="block"></mat-icon>
                    </div>
                </div>
                <div class="block ">
                    <h6> Ristricted/Iilegal item </h6>
                    <small class="text-xs">Please ensure you are not sending any restricted/illegal item</small>
                </div>
            </div>
            <div class="flex">
                <div class="block">
                    <div class="block w-10 h-10 bg-red-700 rounded-full mr-3 p-2">
                        <mat-icon class="cursor-pointer text-slate-50 scale-110" fontIcon="local_post_office"></mat-icon>
                    </div>
                </div>
                <div class="block ">
                    <h6>Multiple packages</h6>
                    <small class="text-xs">We only allow one box/package/parcel per order</small>
                </div>
            </div>
        </div>


        <div class="block rounded-md shadow-md border bg-white">
            <div class="p-2">
                <div class="block w-full my-4">
                    <label class="font-semibold" for="">Pickup Address</label>
                    <input type="text" class="rounded-md border-2 border-red-700 w-full p-2 my-2"
                        placeholder="Add Pickup Address">
                    <br>
                </div>
                <div class="block w-full my-4">
                    <label class="font-semibold my-2" for="">Delivery Address</label>
                    <input type="text" class="rounded-md border-2 border-red-700 w-full p-2 my-2"
                        placeholder="Add Drop Address">
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-around gap-5 p-2">
        <button class="bg-gray-200 px-5 py-3 rounded-3xl w-full" >Cancel</button>
        <button (click)="onTapNext()" class="bg-red-700 text-white px-5 py-3 rounded-3xl w-full" >Continue</button>
    </div>
</div>