<div class="container mx-auto mt-4 p-2">
    <h2 class="my-2 font-">Which one more accurately defines you</h2>

    <div class="p-4">
        <div class="grid grid-flow-row gap-4">
            <div (click)="onTapTraveller()" class="h-32 bg-orange-400 rounded-xl p-4 cursor-pointer">
                <h2 class="my-1">Traveller</h2>
                <p class="text-xs text-gray-800">You want to make money by selling your excess luggage space</p>
            </div>
            <div (click)="onTapSendParcel()" class="h-32 bg-green-400 rounded-xl p-4 cursor-pointer">
                <h2 class="my-1">Send Pracel</h2>
                <p class="text-xs text-gray-800">send parcel with low price</p>
            </div>
        </div>
    </div>
</div>